<h2> Here goes all our articles </h2>

<% @articles.each do |article| %>
    <span>Id: </span> <%= article.id %> <br />
    <span>Nome: </span> <%= article.title %>  <br />
    <span>Descrição: </span> <%= article.body %>  <br />
    <span>Criado em: </span> <%= article.created_at %>  <br />
    <span>Atualizado em: </span> <%= article.updated_at %>  <br />
<% end %>